{% extends 'base.html' %}

{% block content %}

<h1>Orders List Page</h1>

<a href="/orders/add/orders">
    <button>Add New Order</button>
</a>

<table>
    <thead>
        <tr>
            <th>Customer</th>
            <th>Product</th>
            <th>Order Number</th>
            <th>Date</th>
            <th>Quantity</th>
            <th>Amount</th>
            <th>Get Amount</th>
            <th>Bill Amount</th>
            <th>Update</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody>
        {% for order in all_orders %}
        <tr>
            <td>{{order.customer_reference}}</td>
            <td>{{order.product_reference}}</td>
            <td>{{order.order_number}}</td>
            <td>{{order.order_date}}</td>
            <td>{{order.quantity}}</td>
            <td>{{order.amount}}</td>
            <td>{{order.gst_amount}}</td>
            <td>{{order.bill_amount}}</td>
            <td>
                <a href="">
                    <button>Update</button>
                </a>
            </td>
            <td>
                <a href="">
                    <button>Delete</button>
                </a>
            </td>            
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}